{%- assign author = site.author -%}
<div class="profile_box">
  <div class="author__avatar">
    <img src="{{ author.avatar }}" class="author__avatar" alt="{{ author.name }}">
  </div>
  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {%- if author.bio %}
    {%- assign bio_parts = author.bio | split: ", " %}
    <p class="author__bio">{% for part in bio_parts %}<span class="author__bio-part">{{ part }}{% unless forloop.last %},{% endunless %}</span>{% unless forloop.last %}{{ " " }}{% endunless %}{% endfor %}</p>
    {%- endif %}
  </div>
  <div class="author__urls-wrapper">
    <ul class="author__urls">
      {%- if site.description %}
      <li><div class="author__description">{{ site.description }}</div></li>
      {%- endif %}
      {%- include author-links.html author=author %}
    </ul>
    <div class="author__urls_sm">
      {%- include author-links.html author=author icons_only=true %}
    </div>
  </div>
</div>
