{%- assign info = site.data.schools | where: "name", include.school | first -%}
{%- if info.logos -%}
<div class="school-block__logos">
{%- for l in info.logos limit: include.limit %}
{%- capture classes %}school-logo{% if l.round %} school-logo--round{% endif %}{% endcapture %}
{%- capture picture %}<img src="{{ l.src }}" alt="{{ l.alt }}"{% if l.w %} width="{{ l.w }}" height="{{ l.h }}"{% endif %} loading="lazy">{% endcapture %}
{%- if l.url %}
<a class="{{ classes }}" href="{{ l.url }}" title="{{ l.alt }}">{{ picture }}</a>
{%- else %}
<span class="{{ classes }}" title="{{ l.alt }}">{{ picture }}</span>
{%- endif %}
{%- endfor %}
</div>
{%- endif -%}
