@media print {
  .masthead {
    display: none;
  }
}

@media print {
  .js-reveal {
    #{$reveal-selector} {
      opacity: 1 !important;
      transform: none !important;
    }

    .page__content > h1 {
      border-bottom-color: $accent;
      background: none;
    }
  }
}
